<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || 'API Blueprint' %></title>

    <%= stylesheet_link_tag font_awesome_css, bootstrap_css, bootstrap_theme_css, 'all', 'highlight' %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">API Blueprint</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/documentation/tutorial.html">Docs</a></li>
            <li><a href="/tools.html">Tools</a></li>
            <li><a href="/developers.html">Developers</a></li>
            <li><a href="#support">Support</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div id="support" class="well">
          <ul>
              <li><a href="https://stackoverflow.com/questions/tagged/apiblueprint?sort=frequent&pageSize=15">FAQ - Stack Overflow</a></li>
              <li><a href="https://github.com/apiaryio/api-blueprint">Issues - GitHub</a></li>
              <li><a href="https://apiblueprint-slack.herokuapp.com/">Chat - Slack</a></li>
              <li><a href="https://twitter.com/apiblueprint">Twitter - @apiblueprint</a></li>
          </ul>
        </div>

        <hr />
        <p>Copyright 2013 - <%= Time.now.year %> API Blueprint</p>
        <p>API Blueprint is released under the MIT License</p>
      </div>
    </footer>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
    <%= javascript_include_tag bootstrap_js %>
  </body>
</html>
