---
title: API Blueprint Tools
---


<div id="tools-search" class="row search-form">
    <input type="search" placeholder="Search Tooling" />
</div>

<div id="filters" class="row">
    <ul class="nav nav-pills">
        <li class="active" data-id="all"><a href="#">Tools</a></li>
        <% tool_tags.each do |tag| %>
            <li data-id="<%= tag %>"><a href="#"><%= tag.capitalize %></a></li>
        <% end %>
    </ul>
</div>

<div role="main">
    <div id="tools">
        <% data.tools.each do |tool| %>
            <div class="row tool <%= tool.tags.map{|tag| "tool-#{tag}" }.join(' ') %>">
                <div class="col-md-5">
                    <h3><a href="<%= tool.url %>"><%= tool.name %></a></h3>

                    <% tool.tags.each do |tag| %>
                        <span class="label label-default"><%= tag %></span>
                    <% end %>
                </div>

                <div class="col-md-7 summary">
                    <p><%= tool.summary %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script>
$("#filters li").click(function(e) {
    var tag = $(this).attr("data-id");

    if (tag == "all") {
        $("#tools .row").show();
    } else {
        $("#tools .row").hide();
        $("#tools .tool-" + tag).show();
    }

    $("#filters li").removeClass("active");
    $(this).addClass("active");
});

$('#tools-search input').on('input', function() {
  var query = $(this).val().toLowerCase();

  if (query.length == 0) {
      $("#tools .row").show();
      $("#filters").show();
  } else {
      $("#tools .row").hide();
      $("#filters").hide();

      $("#tools .row").each(function (e) {
          var title = $("h3", this).text().toLowerCase();
          var summary = $(".summary", this).text().toLowerCase();

          // TODO Poor implementation of search
          if (title.indexOf(query) != -1 || summary.indexOf(query) != -1) {
              $(this).show();
          }
      });
  }
});
</script>
